
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
