.RoleList {
  padding: 40px;
}

.RoleList .searchBox {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .RoleList {
    padding: 30px;
  }
}
 
 @media screen and (max-width: 426px) {
  .RoleList {
    padding: 20px;
  }
  .SearchBox {
    padding-bottom: 10px;
  }
}
