.EvacuationCenterListItem {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  height: 60px;
}

.EvacuationCenterListItem .Checkbox {
  padding: 0 8px;
}

.EvacuationCenterListItem:hover {
  background-color: #f5f5f5;
}

.EvacuationCenterListItem .actionIcon:hover {
  color: #008EFA;
  background-color: #e8e8e8;
}

.EvacuationCenterListItem .actionIcon {
  padding-top: 8px;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

.EvacuationCenterListItem .actionIcon {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;

}

.EvacuationCenterListItem .actionIcon:hover {
  color: #008EFA;
  background-color: #e8e8e8;
}
