.AgenciesActionBar {
  /* border-bottom: 1px solid #e8e8e8; */
  height: 50px;
  margin-top: 40px;
}

.AgenciesActionBar .actionButton {
  border: none;
  box-shadow: none;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25)
}

.AgenciesActionBar .actionButton:hover {
  background-color: #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
}

.AgenciesActionBar .checkbox {
  padding-top: 8px;
  padding-left: 8px;
}

.AgenciesActionBar .pagination {
  padding-top: 8px;
}
