{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jsdoc/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "prettier/react",
    "prettier"
  ],
  "plugins": [
    "jest",
  "jsdoc",
  "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      1,
    {
      "extensions": [
        ".js",
      ".jsx"
      ]
    }
    ],
    "import/no-extraneous-dependencies": [
      "error",
    {
      "devDependencies": [
        "**/*.test.js",
      "**/*.spec.js",
      "**/stories/*"
      ]
    }
    ],
    "func-style": ["error", "expression"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "globals": {
    "fetch": false
  }
}
