.ContactList {
  padding: 40px;
}

.ContactList .searchBox {
  width: 50%;
}

.ContactListItem {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  height: 60px;
}

.ContactListItem .Checkbox {
  padding: 0 8px;
}

.ContactListItem:hover {
  background-color: #f5f5f5;
}

.ContactListItem .actionIcon:hover {
  color: #008EFA;
  background-color: #e8e8e8;
}

.ContactListHeader {
  border-bottom: 1px solid #e8e8e8;
  height: 40px;
  margin-top: 40px;
}

.ContactListItem .actionIcon {
  padding-top: 8px;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

.ContactListItem .actionIcon {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;

}

.ContactListItem .actionIcon:hover {
  color: #008EFA;
  background-color: #e8e8e8;
}
