.Home {
  width: 60%;
  margin: 80px auto;
}

.NavItem:hover {
  background-color: #fafafb;
}

.NavItem .image {
  display: block;
  margin: 0 auto;
}

.NavItem .text {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #1B98D1
}
