.FocalPeopleList {
  padding: 0 40px;
}

.FormModal {
  width: 50% !important;
}

@media screen and (max-width: 1024px) {
  .FormModal {
    width: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .FocalPeopleList {
    padding: 0 30px;
  }
  .FormModal {
    width: 80% !important;
  }
}
 
 @media screen and (max-width: 426px) {
  .FocalPeopleList {
    padding: 0 20px;
  }
  .FormModal {
    width: 90% !important;
  }
}
