.NavigationMenu {
  width: 60%;
  margin: 80px auto;
}

.NavigationMenu .NavigationMenuItem {
  margin: 20px;
}

.NavigationMenu .NavigationMenuItem:hover {
  background-color: #fafafb;
}

.NavigationMenu .NavigationMenuItem .image {
  display: block;
  margin: 0 auto;
}

.NavigationMenu .NavigationMenuItem .text {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #1B98D1
}
